In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd
a=pd.read_csv("/content/drive/MyDrive/spamdata.csv")
print(a)

                                               Sentence Sentiment
0     The GeoSolutions technology will leverage Bene...  positive
1     $ESI on lows, down $1.50 to $2.50 BK a real po...  negative
2     For the last quarter of 2010 , Componenta 's n...  positive
3     According to the Finnish-Russian Chamber of Co...   neutral
4     The Swedish buyout firm has sold its remaining...   neutral
...                                                 ...       ...
5837  RISING costs have forced packaging producer Hu...  negative
5838  Nordic Walking was first used as a summer trai...   neutral
5839  According shipping company Viking Line , the E...   neutral
5840  In the building and home improvement trade , s...   neutral
5841  HELSINKI AFX - KCI Konecranes said it has won ...  positive

[5842 rows x 2 columns]

In [ ]:
data=a.where((pd.notnull(a)),'')

In [ ]:
data.loc[data["Sentiment"]=='positive','Sentiment',]=4
data.loc[data["Sentiment"]=='neutral','Sentiment',]=3
data.loc[data["Sentiment"]=='negative','Sentiment']=-2

In [ ]:
x=data["Sentence"]

In [ ]:
x=data["Sentence"]
y=data["Sentiment"]
print(x)

0       The GeoSolutions technology will leverage Bene...
1       $ESI on lows, down $1.50 to $2.50 BK a real po...
2       For the last quarter of 2010 , Componenta 's n...
3       According to the Finnish-Russian Chamber of Co...
4       The Swedish buyout firm has sold its remaining...
                              ...
5837    RISING costs have forced packaging producer Hu...
5838    Nordic Walking was first used as a summer trai...
5839    According shipping company Viking Line , the E...
5840    In the building and home improvement trade , s...
5841    HELSINKI AFX - KCI Konecranes said it has won ...
Name: Sentence, Length: 5842, dtype: object

In [ ]:
print(y)

0        4
1       -2
2        4
3        3
4        3
        ..
5837    -2
5838     3
5839     3
5840     3
5841     4
Name: Sentiment, Length: 5842, dtype: object

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.40)
print(xtrain)
print(xtest)
print(ytrain)
print(ytest)

475     Operating loss increased to EUR 17mn from a lo...
3743    The company 's transportation business is cond...
1190    The inventors are Bylander Johan , Ponten Fred...
5056    The size of a cider bottle will remain unchang...
1953    Export declined by 6 percent to 16.4 million l...
                              ...
1679    LKAB , headquartered in Lulea , Sweden , is a ...
2748    `` We are selling an information systems devel...
3557    Raffles Equities Ltd became a substantial hold...
1639    The earnings per share for the quarter came in...
2567    Fortum expects its annual capital expenditure ...
Name: Sentence, Length: 3505, dtype: object
484     Revenue in the quarter fell 8 percent to ( EUR...
4412    Metrics in QPR ScoreCard now support date , te...
2750    RusHydro has an agreement to transfer its stak...
2338    The building will house , for example , Respec...
4416    The policy was also aimed at making the compan...
                              ...
207     One of the installed elevators will be a doubl...
3148    Pharmaceuticals - Netherlands This brand-new m...
3857    Acando AB ( ACANB SS ) fell 8.9 percent to 13....
1129    Bovine slaughtering and cutting at the Kuopio ...
923     Despite sales growth, UK's Tesco cautions reco...
Name: Sentence, Length: 2337, dtype: object
475     3
3743    3
1190    3
5056    3
1953    3
       ..
1679    3
2748    3
3557    3
1639    4
2567    3
Name: Sentiment, Length: 3505, dtype: object
484     3
4412    4
2750    3
2338    3
4416    4
       ..
207     4
3148    3
3857    3
1129    3
923     3
Name: Sentiment, Length: 2337, dtype: object

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase=True)

In [ ]:
xtrain=feature_extraction.fit_transform(xtrain)
xtest=feature_extraction.transform(xtest)

In [ ]:
ytrain=ytrain.astype("int")
ytest=ytest.astype("int")

In [ ]:
print(xtrain)

  (0, 192)	0.2952006995321406
  (0, 5064)	0.22003477184043618
  (0, 36)	0.266722237571497
  (0, 143)	0.48302064492638763
  (0, 2817)	0.3615692385811512
  (0, 3964)	0.3182003082724613
  (0, 4710)	0.526118025386574
  (0, 5433)	0.22629101534771973
  (1, 1874)	0.2347225672869883
  (1, 1473)	0.24340646958398746
  (1, 2539)	0.25564574245089056
  (1, 4638)	0.21024402155318223
  (1, 1586)	0.2178301388333384
  (1, 5117)	0.25564574245089056
  (1, 3689)	0.25564574245089056
  (1, 1937)	0.2347225672869883
  (1, 7152)	0.24340646958398746
  (1, 4627)	0.20706363420357643
  (1, 7560)	0.22798680936747867
  (1, 6570)	0.24340646958398746
  (1, 3262)	0.25564574245089056
  (1, 1951)	0.2178301388333384
  (1, 1488)	0.1257242620097537
  (1, 7827)	0.4083732477810055
  (1, 1890)	0.1847170841852574
  :	:
  (3502, 144)	0.22688610826137928
  (3502, 54)	0.20550417449037225
  (3502, 69)	0.20805592555025404
  (3502, 6922)	0.1857129760924185
  (3502, 5030)	0.15955311927137544
  (3503, 1535)	0.3976740201282577
  (3503, 2577)	0.29366291947789963
  (3503, 249)	0.3141103228258475
  (3503, 2582)	0.3141103228258475
  (3503, 184)	0.2979397812715802
  (3503, 6916)	0.24270718168322047
  (3503, 6145)	0.4798705392102891
  (3503, 8436)	0.2189797299625663
  (3503, 2817)	0.3638462969249648
  (3504, 3004)	0.4140720919989491
  (3504, 3322)	0.34736190609263273
  (3504, 8438)	0.3033409039647205
  (3504, 6195)	0.337023011869297
  (3504, 2577)	0.25942400831235846
  (3504, 3003)	0.29560989729343345
  (3504, 1561)	0.25798471947229595
  (3504, 915)	0.29145841049522936
  (3504, 1276)	0.286383100980655
  (3504, 912)	0.2970689048692455
  (3504, 2817)	0.16071226310372924

In [ ]:
print(xtest)
print(ytrain)
print(ytest)

  (0, 8436)	0.25238827516136514
  (0, 6513)	0.3838237281024965
  (0, 6145)	0.2765408873979866
  (0, 5693)	0.3413809276132508
  (0, 3142)	0.3633814927357778
  (0, 2923)	0.33475926972162606
  (0, 2577)	0.3384654722998698
  (0, 1896)	0.3125527768508335
  (0, 1276)	0.37363847765165037
  (1, 8090)	0.32710161537120935
  (1, 7449)	0.4267569662976653
  (1, 6350)	0.22955034173067806
  (1, 6134)	0.30033017639008913
  (1, 6027)	0.23628439648269678
  (1, 5990)	0.22657787372606913
  (1, 5697)	0.2401499221299529
  (1, 5025)	0.3114413274769094
  (1, 4823)	0.257898449514669
  (1, 3938)	0.257898449514669
  (1, 2209)	0.2735587374089689
  (1, 2008)	0.2519446843769967
  (1, 1185)	0.18660704416771243
  (2, 7866)	0.41539119397084884
  (2, 7821)	0.32915757000292356
  (2, 7240)	0.4362784209135313
  :	:
  (2333, 1394)	0.21005688385710347
  (2333, 894)	0.2355319524054707
  (2333, 703)	0.2593317679347899
  (2334, 7219)	0.3886715407523926
  (2334, 5693)	0.22550600505254467
  (2334, 4728)	0.3886715407523926
  (2334, 4435)	0.3886715407523926
  (2334, 3142)	0.24003891872281274
  (2334, 2233)	0.3148096305775716
  (2334, 1791)	0.2786249686667402
  (2334, 632)	0.2746317568368563
  (2334, 333)	0.26594687656243515
  (2334, 81)	0.25235035386915416
  (2334, 54)	0.22751623816263875
  (2335, 7822)	0.4293800485767076
  (2335, 7072)	0.49338167882721784
  (2335, 4329)	0.49338167882721784
  (2335, 3073)	0.3800191913098609
  (2335, 2173)	0.4293800485767076
  (2336, 7947)	0.3897955359489974
  (2336, 7653)	0.41225765177368096
  (2336, 6699)	0.22313952996112876
  (2336, 6282)	0.5065066250689858
  (2336, 3586)	0.3394317256820033
  (2336, 2318)	0.5065066250689858
475     3
3743    3
1190    3
5056    3
1953    3
       ..
1679    3
2748    3
3557    3
1639    4
2567    3
Name: Sentiment, Length: 3505, dtype: int64
484     3
4412    4
2750    3
2338    3
4416    4
       ..
207     4
3148    3
3857    3
1129    3
923     3
Name: Sentiment, Length: 2337, dtype: int64

In [ ]:

from sklearn.ensemble import RandomForestClassifier
b=RandomForestClassifier()
b.fit(xtrain,ytrain)
y_pred=b.predict(xtest)

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(ytest,y_pred))

0.6452717158750535

In [ ]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(ytest,y_pred))

[[  38  229   79]
 [ 111 1029   81]
 [  23  306  441]]

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(ytest,y_pred))

              precision    recall  f1-score   support

          -2       0.22      0.11      0.15       346
           3       0.66      0.84      0.74      1221
           4       0.73      0.57      0.64       770

    accuracy                           0.65      2337
   macro avg       0.54      0.51      0.51      2337
weighted avg       0.62      0.65      0.62      2337

In [ ]:
import pandas as pd
a = pd.read_csv("/content/drive/MyDrive/spam.csv",encoding='latin-1')
print(a)

        v1                                                 v2 Unnamed: 2  \
0      ham  Go until jurong point, crazy.. Available only ...        NaN
1      ham                      Ok lar... Joking wif u oni...        NaN
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3      ham  U dun say so early hor... U c already then say...        NaN
4      ham  Nah I don't think he goes to usf, he lives aro...        NaN
...    ...                                                ...        ...
5567  spam  This is the 2nd time we have tried 2 contact u...        NaN
5568   ham              Will Ì_ b going to esplanade fr home?        NaN
5569   ham  Pity, * was in mood for that. So...any other s...        NaN
5570   ham  The guy did some bitching but I acted like i'd...        NaN
5571   ham                         Rofl. Its true to its name        NaN

     Unnamed: 3 Unnamed: 4
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
5567        NaN        NaN
5568        NaN        NaN
5569        NaN        NaN
5570        NaN        NaN
5571        NaN        NaN

[5572 rows x 5 columns]

In [ ]:
data=a.where((pd.notnull(a)))

In [ ]:
data.loc[data["v1"]=='ham','v1',]=0
data.loc[data["v1"]=='spam','v1',]=-1

In [ ]:
x=data["v2"]
y=data["v1"]
print(x)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object

In [ ]:
print(y)

0        0
1        0
2       -1
3        0
4        0
        ..
5567    -1
5568     0
5569     0
5570     0
5571     0
Name: v1, Length: 5572, dtype: object

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.20)
print(xtrain)
print(xtest)
print(ytrain)
print(ytest)

5280                  Vikky, come around  &lt;TIME&gt; ..
1208                      Also maaaan are you missing out
3782                       Can you do online transaction?
5496    Yes... I trust u to buy new stuff ASAP so I ca...
4796    Santa calling! Would your little ones like a c...
                              ...
3426                   Haha okay... Today weekend leh...
4221    Yo you around? A friend of mine's lookin to pi...
1008    Poyyarikatur,kolathupalayam,unjalur post,erode...
5176    Company is very good.environment is terrific a...
2113    Yeah, don't go to bed, I'll be back before mid...
Name: v2, Length: 4457, dtype: object
2683    I'm okay. Chasing the dream. What's good. What...
2055                     Sir, I am waiting for your mail.
3571                 Yup, leaving right now, be back soon
25      Just forced myself to eat a slice. I'm really ...
1513                 Hows the champ just leaving glasgow!
                              ...
4599    Hi did u decide wot 2 get 4 his bday if not il...
3756    YES! The only place in town to meet exciting a...
2202    (And my man carlos is definitely coming by mu ...
1162    Free entry in 2 a wkly comp to win FA Cup fina...
4757    URGENT! Your Mobile number has been awarded wi...
Name: v2, Length: 1115, dtype: object
5280     0
1208     0
3782     0
5496     0
4796    -1
        ..
3426     0
4221     0
1008     0
5176     0
2113     0
Name: v1, Length: 4457, dtype: object
2683     0
2055     0
3571     0
25       0
1513     0
        ..
4599     0
3756    -1
2202     0
1162    -1
4757    -1
Name: v1, Length: 1115, dtype: object

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
feature_extraction=TfidfVectorizer(min_df=1,stop_words="english",lowercase=True)

In [ ]:
xtrain=feature_extraction.fit_transform(xtrain)
xtest=feature_extraction.transform(xtest)

In [ ]:
ytrain=ytrain.astype("int")
ytest=ytest.astype("int")

In [ ]:
print(xtest)
print(xtest)
print(ytrain)
print(ytest)

  (0, 4738)	0.4389786449851667
  (0, 3089)	0.2944725378924546
  (0, 2387)	0.5047011403052825
  (0, 2339)	0.357124356139046
  (0, 1694)	0.5816550755396048
  (1, 7056)	0.5474250527671872
  (1, 5940)	0.5714994427083353
  (1, 4167)	0.6113216817575708
  (2, 7394)	0.5028982932191446
  (2, 6071)	0.47803553327171017
  (2, 5566)	0.44299344127050083
  (2, 3914)	0.5677430286654539
  (3, 7270)	0.29215539195004975
  (3, 6794)	0.3312860772027294
  (3, 6586)	0.2727858090499335
  (3, 6320)	0.29748269522949194
  (3, 5906)	0.28745637743531854
  (3, 5398)	0.20619393002382153
  (3, 5029)	0.29748269522949194
  (3, 4208)	0.29748269522949194
  (3, 4038)	0.21312232403808812
  (3, 3818)	0.29215539195004975
  (3, 3734)	0.1493278362067339
  (3, 3426)	0.27597915385600236
  (3, 3031)	0.22794604236977611
  :	:
  (1113, 2777)	0.1840772113081856
  (1113, 2672)	0.4789626906387066
  (1113, 2559)	0.3719486402622901
  (1113, 2057)	0.20136217145373378
  (1113, 1870)	0.19522635494311427
  (1113, 1007)	0.16791474054894778
  (1113, 706)	0.22042175838654351
  (1113, 371)	0.2283322016844246
  (1113, 363)	0.2283322016844246
  (1113, 72)	0.2394813453193533
  (1114, 6946)	0.26557349263538443
  (1114, 6908)	0.222660726972698
  (1114, 5222)	0.21934576205382994
  (1114, 4678)	0.2112510810489856
  (1114, 4388)	0.19901462066802464
  (1114, 3974)	0.2436980203548344
  (1114, 3860)	0.2789734822738453
  (1114, 3166)	0.23737440167204174
  (1114, 1771)	0.20583001362507672
  (1114, 1144)	0.2539492219088177
  (1114, 444)	0.3137587060993002
  (1114, 360)	0.26557349263538443
  (1114, 320)	0.2569560931851334
  (1114, 299)	0.2789734822738453
  (1114, 211)	0.366472834265809
  (0, 4738)	0.4389786449851667
  (0, 3089)	0.2944725378924546
  (0, 2387)	0.5047011403052825
  (0, 2339)	0.357124356139046
  (0, 1694)	0.5816550755396048
  (1, 7056)	0.5474250527671872
  (1, 5940)	0.5714994427083353
  (1, 4167)	0.6113216817575708
  (2, 7394)	0.5028982932191446
  (2, 6071)	0.47803553327171017
  (2, 5566)	0.44299344127050083
  (2, 3914)	0.5677430286654539
  (3, 7270)	0.29215539195004975
  (3, 6794)	0.3312860772027294
  (3, 6586)	0.2727858090499335
  (3, 6320)	0.29748269522949194
  (3, 5906)	0.28745637743531854
  (3, 5398)	0.20619393002382153
  (3, 5029)	0.29748269522949194
  (3, 4208)	0.29748269522949194
  (3, 4038)	0.21312232403808812
  (3, 3818)	0.29215539195004975
  (3, 3734)	0.1493278362067339
  (3, 3426)	0.27597915385600236
  (3, 3031)	0.22794604236977611
  :	:
  (1113, 2777)	0.1840772113081856
  (1113, 2672)	0.4789626906387066
  (1113, 2559)	0.3719486402622901
  (1113, 2057)	0.20136217145373378
  (1113, 1870)	0.19522635494311427
  (1113, 1007)	0.16791474054894778
  (1113, 706)	0.22042175838654351
  (1113, 371)	0.2283322016844246
  (1113, 363)	0.2283322016844246
  (1113, 72)	0.2394813453193533
  (1114, 6946)	0.26557349263538443
  (1114, 6908)	0.222660726972698
  (1114, 5222)	0.21934576205382994
  (1114, 4678)	0.2112510810489856
  (1114, 4388)	0.19901462066802464
  (1114, 3974)	0.2436980203548344
  (1114, 3860)	0.2789734822738453
  (1114, 3166)	0.23737440167204174
  (1114, 1771)	0.20583001362507672
  (1114, 1144)	0.2539492219088177
  (1114, 444)	0.3137587060993002
  (1114, 360)	0.26557349263538443
  (1114, 320)	0.2569560931851334
  (1114, 299)	0.2789734822738453
  (1114, 211)	0.366472834265809
5280    0
1208    0
3782    0
5496    0
4796   -1
       ..
3426    0
4221    0
1008    0
5176    0
2113    0
Name: v1, Length: 4457, dtype: int64
2683    0
2055    0
3571    0
25      0
1513    0
       ..
4599    0
3756   -1
2202    0
1162   -1
4757   -1
Name: v1, Length: 1115, dtype: int64

In [ ]:
from sklearn.linear_model import LogisticRegression
b=LogisticRegression()
b.fit(xtrain,ytrain)
y_pred=b.predict(xtest)

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(ytest,y_pred))

0.9721973094170404

In [ ]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(ytest,y_pred))

[[108  29]
 [  2 976]]

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(ytest,y_pred))

              precision    recall  f1-score   support

          -1       0.98      0.79      0.87       137
           0       0.97      1.00      0.98       978

    accuracy                           0.97      1115
   macro avg       0.98      0.89      0.93      1115
weighted avg       0.97      0.97      0.97      1115